*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Ysabeau Infant', sans-serif ;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.container-info{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-info figure{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("./assets/neymar.jpg");
    background-size:100% 100%;
    border-radius: 100%;
}


.container-info figure::before{
    content: "";
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    width: 215px;
    height: 215px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top:-7px;
    left: -7px;
}

.container-info .texto h1{
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px #000000;
    
}

.texto{
    position: relative;
}
.texto h1::after{
    content:" ";
    width: 20px;
    height: 20px;
    background-color: black;
    background: url("./assets/verificado.png");
    background-size: 20px 20px;
    position: absolute;
    top: 15px;
    right: -20px;
    

}

.container-info .texto .tarja{
    width: 38px;
    height: 4px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    position: relative;
    bottom: 5px;
}

.container-links{
    width: 768px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-links div{
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.container-links div:hover {
    background-color: #fff;
}
.container-links div a:hover{
    color:#000000;
    height: 100%;
}


.container-links img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
}

.container-links div a{
    width: 100%;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 18px;
    opacity: 100%;
    z-index: 1;
}


.container-links  div::before{
    content: "";
    background: #000000;
    border-radius: 10px;
    width: 768px;
    height: 100%;
    position: absolute;
    top:0;
    left;0;
    z-index: -1;
    opacity: 0.5;
}

.estatisticas{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/imagem-de-fundo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.estatisticas h2{
    font-weight: bold;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-shadow: 2px 2px #000000;
}

table tr th, table tr td{
    padding: 20px;
    font-weight: bold;
}


table tr td img{
    width: 20px;
    height: 20px;
}

table tr th:first-of-type{
    width: 30px;
    font-weight: bold;
}

table tr td:first-of-type{
    display: flex;
    gap: 10px
}

table  tbody tr:nth-of-type(odd){
    background-color: #fff;
    opacity: 0.8;
    font-weight: bold;
}

table tbody tr:nth-of-type(even){
    background-color: #000000;
    color: #fff;
    opacity: 0.8;
    font-weight: bold;
}

table thead tr{
    background-color: #000000;
    color: #fff;
    opacity: 0.8;
    font-weight: bold;
}

